@import "tailwindcss";

:root {
  /* 🌌 Backgrounds */
  --color-neon-bg-main: #09090b;
  --color-neon-bg-surface: #18181b;

  /* ⚡ Primary Accents */
  --color-neon-cyan: #06b6d4;
  --color-neon-fuchsia: #d946ef;

  /* 📝 Typography */
  --color-neon-text-primary: #fafafa;
  --color-neon-text-secondary: #a1a1aa;

  /*    Custom Fonts */
  --font-sans: "Inter", sans-serif;
  --font-heading: "Outfit", sans-serif;
}
